<html>
    <head>
        <meta charset="UTF-8">
        <title>提示页</title>
    </head>
    <body>
        <h1>{{ ps }}</h1>
        <!-- <a href="javascript:history.back(-1)">点击此处返回上一页</a> -->
        <input type="button" value="点击此处返回上一页" onclick="javascript:history.back(-1)">
    </body>
</html>

<style>
    body {
        text-align: center;
    }
    input {
        background-color: rgba(222, 138, 243, 0.6);
        outline: none;
        border-radius: 5px;
        height: 50px;
        padding: 0 10px;
        margin: 0%;
        border: none;
        font-size: 20px;
        color: cornsilk;
        cursor: pointer;
        text-align: center;
    }
    input:hover {
        background-color: rgba(191, 255, 175, 0.4);
        color: rgb(155, 32, 138);
    }
</style>